<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umn.paull011.evolveworkoutlogger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".EvolveApplication">

        <!-- Start Page -->
        <activity
            android:name=".activities.StartPage"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="start_page"
                    android:scheme="evolve" />
            </intent-filter>

        </activity>

        <!-- My Routines -->
        <activity
            android:name=".activities.MyRoutines"
            android:label="@string/title_activity_my_routines"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.StartPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.StartPage" />
        </activity>

        <!-- My Exercises -->
        <activity
            android:name=".activities.MyExercises"
            android:parentActivityName=".activities.StartPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.StartPage" />
        </activity>

        <!-- Start Routine -->
        <activity
            android:name=".activities.StartRoutine"
            android:label="@string/title_activity_start_routine"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- Create Routine -->
        <activity
            android:name=".activities.CreateRoutine"
            android:label="@string/title_activity_create_routine"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.StartRoutine"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.StartRoutine" />
        </activity>

        <!-- Add Exercise -->
        <activity
            android:name=".activities.AddExercise"
            android:label="@string/title_activity_add_exercise"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- Create Exercise -->
        <activity
            android:name=".activities.CreateExercise"
            android:label="@string/title_activity_create_exercise"
            android:parentActivityName=".activities.AddExercise"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.AddExercise" />
        </activity>

        <!-- Active Routine Session -->
        <activity
            android:name=".activities.ActiveRoutineSession"
            android:label="@string/title_activity_active_routine_session"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ActiveRoutineSession"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.ActiveRoutineSession" />
        </activity>

        <!-- Active Exercise Session -->
        <activity
            android:name=".activities.ActiveExerciseSession"
            android:parentActivityName=".activities.ActiveRoutineSession"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.ActiveRoutineSession" />
        </activity>

        <!-- Component Testing -->
        <activity android:name=".activities.ComponentTesting" />

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.ViewExercise"
            android:parentActivityName=".activities.MyExercises"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.MyExercises"/>
        </activity>

        <!-- View Routine -->
        <activity android:name=".activities.ViewRoutine"
            android:parentActivityName=".activities.MyRoutines"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.umn.paull011.evolveworkoutlogger.activities.MyRoutines"/>
        </activity>
    </application>

</manifest>